.navbar{
    background-color: #e3f2fd;
}

.logo{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.img-banner{
    width: 100%;
}

.page-info{
    margin-top: 2%;
    margin-bottom: 5%;
}

.profile-pic{
    margin-top: 5%;
    margin-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ico-text{
    display:block;
}