.navbar{
    background-color: #e3f2fd;
}

.logo{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.img-banner{
    width: 100%;
}

.page-info{
    margin-top: 2%;
    margin-bottom: 5%;
}

.profile-pic{
    margin-top: 5%;
    margin-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*
TABLET
*/
@media screen and (max-width: 1000px) {
    .navbar-links{
      display: none;
    }
}

/*
 * MOBILE
*/
@media screen and (max-width: 600px) {
    .contact-info{
      display: none;
    }

    .bio-info{
        margin-left: 6%;
    }
}



/*
.btn-send-email:hover,.btn-go-linkedin,.btn-go-github,.btn-send-whatsapp{
    cursor: pointer;
    background-color: #afdaf0;
}
*/

