@charset "UTF-8";
/*!
=========================================================
* FelipedelosH
=========================================================

* Copyright: 2023 FelipedelosH
* Licensed: https://github.com/felipedelosh
* Coded by https://github.com/felipedelosh/AFE-PORTFOLIO

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

/*!
Header
*/
.header{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/banner/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ul_header_social_links_icons{
 padding-top: 2%;
}

.navbar_menu{
    border-bottom: 1px solid #bababb !important;
    background-color: white;
}


/*!
DOWNLOAD CV IN SPACE
*/
.ico_downlad_cv{
    color: white;
    margin-right: 3px;
}

.btn_downloadcv_in_space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn_downloadcv_in_space:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn_downloadcv_in_space:hover {
    transform: scale(1.1)
  }
  
  .btn_downloadcv_in_space:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn_downloadcv_in_space:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
/*!
END DOWNLOAD CV IN SPACE
*/



/*!
MENU MOBILE
*/
/* The design is inspired from the mockapi.io */
.menu_navbar_mobile{
	position: fixed;
	left: 60%;
}

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, .15);
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: .3s;
    --burger-transition: all .1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: .95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, .2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: .8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 12px;
    --nav-button-hover-bg: #6495ed;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}
  
/* popup settings 👆 */

.popup {
display: inline-block;
text-rendering: optimizeLegibility;
position: relative;
}

.popup input {
display: none;
}

.burger {
display: flex;
position: relative;
align-items: center;
justify-content: center;
background: var(--burger-bg);
width: var(--burger-diameter);
height: var(--burger-diameter);
border-radius: var(--burger-btn-border-radius);
border: none;
cursor: pointer;
overflow: hidden;
transition: var(--burger-transition);
outline: var(--burger-enable-outline-width) solid transparent;
outline-offset: 0;
}

.burger span {
height: var(--burger-line-height);
width: var(--burger-line-width);
background: var(--burger-color);
border-radius: var(--burger-line-border-radius);
position: absolute;
transition: var(--burger-line-transition);
}

.burger span:nth-child(1) {
top: var(--burger-offset);
}

.burger span:nth-child(2) {
bottom: var(--burger-offset);
}

.burger span:nth-child(3) {
top: 50%;
transform: translateY(-50%);
}

.popup-window {
transform: scale(var(--nav-default-scale));
visibility: hidden;
opacity: 0;
position: absolute;
padding: var(--nav-padding-y) var(--nav-padding-x);
background: var(--nav-bg);
font-family: var(--nav-font-family);
color: var(--nav-text-color);
border-radius: var(--nav-border-radius);
box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
border: var(--nav-border-width) solid var(--nav-border-color);
top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
left: var(--nav-position-left);
right: var(--nav-position-right);
transition: var(--burger-transition);
}

.popup-window legend {
padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
margin: 0;
color: var(--nav-title-color);
font-size: var(--nav-title-size);
text-transform: uppercase;
}

.popup-window ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.popup-window ul button {
outline: none;
width: 100%;
border: none;
background: none;
display: flex;
align-items: center;
color: var(--burger-color);
font-size: var(--nav-button-font-size);
padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
white-space: nowrap;
border-radius: var(--nav-button-border-radius);
cursor: pointer;
column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
color: cornflowerblue;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
color: red;
}

.popup-window hr {
margin: var(--underline-margin-y) 0;
border: none;
border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
color: var(--nav-button-hover-text-color);
background: var(--nav-button-hover-bg);
}

.burger:hover {
transform: scale(var(--burger-hover-scale));
}

.burger:active {
transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
outline-color: var(--burger-enable-outline-color);
outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
top: 50%;
transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
bottom: 50%;
transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
transform: scale(var(--nav-active-scale));
visibility: visible;
opacity: 1;
}
/*!
END MENU MOBILE
*/


.header_text_description_afe{
    margin-top: 5%;
}

.navbar_text_content{
    color: white;
    font-family: "Dosis", sans-serif;
    font-size: calc(30px + (100 - 20) * ((80vw - 260px) / (1800 - 300)));
}

.nav_link{
    font-weight: bold;
    font-family: "Dosis","Open Sans",sans-serif;
    padding-right: 1.5rem;
}

.img_avatar{
    position: absolute;
    width: 170px;
    bottom: 10%;
    left: 42%;
    border: 10px solid white;
    border-radius: 50%;
}

.text_back_img_avatar{
    font-weight: bold;
}


.about_card_hr_title_separator{
    width: 30%;
    color: #F85C70;
}

/*!
End Header
*/

/*!
=======================================================================
*/

/*!
About
*/

.about_section{
    margin-top: 4%;
    margin-bottom: 2%;
}


/*!
Download CV from About
*/
.btn_download_my_cv_from_about {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.btn_download_my_cv_from_about::before,
.btn_download_my_cv_from_about::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.btn_download_my_cv_from_about::before {
  top: 0;
  border-bottom-width: 0;
}

.btn_download_my_cv_from_about::after {
  bottom: 0;
  border-top-width: 0;
}

.btn_download_my_cv_from_about:active,
.btn_download_my_cv_from_about:focus {
  outline: none;
}

.btn_download_my_cv_from_about:active::before,
.btn_download_my_cv_from_about:active::after {
  right: 3px;
  left: 3px;
}

.btn_download_my_cv_from_about:active::before {
  top: 3px;
}

.btn_download_my_cv_from_about:active::after {
  bottom: 3px;
}

.btn_download_my_cv_from_about_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.btn_download_my_cv_from_about_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.btn_download_my_cv_from_about_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.btn_download_my_cv_from_about_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn_download_my_cv_from_about_text {
  position: relative;
}

.btn_download_my_cv_from_about:hover {
  color: #0f1923;
}

.btn_download_my_cv_from_about:hover .btn_download_my_cv_from_about_sl {
  width: calc(100% + 15px);
}

.btn_download_my_cv_from_about:hover .btn_download_my_cv_from_about_lg::after {
  background-color: #fff;
}
/*!
END Download CV from About
*/

.about_skill_ico{
    padding-top: 30%;
    color: #F85C70;
}

.about_skill_description{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: black;
}



/*!
END About
*/

/*!
=======================================================================
*/


/*!
My Resume
*/
.mb-3{
  margin-bottom: none;
}

/*!
END My resume
*/


/*!
=======================================================================
*/



/*!
My Personal Indicators
*/
.personal_indicators{
    margin-top: 3%;
    margin-bottom: 5%;
    background: #343a40;
    padding: 80px 0;
}

.container_ico_kpi_personal{
    border-right: 1px solid #dee2e6 !important;
}

.ico_kpi_personal{
    color: white;
    width: 80%;
    height: 80%;
}

.title_kpi_personal{
    color: #f85c70;
}

.text_kpi_personal{
    color: white;
}

/*!
END Personal Indicators
*/


/*!
=======================================================================
*/

/*!
My services
*/

.ico_my_services{
    color: #F85C70;
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    width: 8%;
    height: 8%;
}

.title_my_services{
    font-weight: bold;
}

/*!
END My services
*/

/*!
=======================================================================
*/


/*!
Hire me
*/
.hire_me{
    margin-top: 3%;
    margin-bottom: 5%;
    background: #343a40;
    padding: 80px 0;
}

.hire_me_text{
    color: white;
}

/*!
END Hire me
*/

/*!
=======================================================================
*/

/*!
Contact me
*/

.contact_me{
    margin-top: 3%;
    margin-bottom: 2%;
}

.hr_contact_me_separator{
    width: 20%;
    color: #F85C70;
}

.input_area_contact_me{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.text_area_contact_me{
    width: 100%;
    resize: none;
}

.ico_contact_me_one_touch{
    width: 80%;
    height: 80%;
}

.contact_touch_item_row{
    margin-top: 2%;
    margin-bottom: 2%;
}

.contanct_me_send_email{
    color: white;
    background-color: #F85C70;
    border-color: #F85C70;
    width: 100%;
    margin-top: 1%;
}

/*!
END contact me
*/


/*!
=======================================================================
*/


/*!
FOOTER
*/
.footer{
    background-color: #343840;
    padding: 0 0 49px 0;
}

.footer-line-elements{
    padding-top: 2%;
}

.autor_footer_text_name{
    color: white;
}

.ul_footer_links{
    display:flex;
    list-style: none;
}

.li_footer_links{
    margin-left: 1%;
    margin-right: 1%;
}

.ico-footer-link{
    color: black;
}

.privacy_policy_link{
    color: #6e7884;
    text-decoration:none;
}
/*!
END FOOTER
*/


/*!
Father Effects
This is a most comond effects in page
*/
.linkeable_element{
    cursor: pointer;
}

.ul_inline{
    display:flex;
    list-style: none;
    padding-left: 0;
}

.li_white{
    color: white;
    margin-left: 6px;
    margin-right: 6px;
}

.li_black{
    color: black;
    margin-left: 6px;
    margin-right: 6px;
}

.li_about{
    color: #F85C70;
    margin-left: 6px;
    margin-right: 6px;
}

.a_not_style{
    text-decoration: none;
    color: black;
}

.ul_not_style{
    list-style: none;
    padding-left: 0;
}
/*!
END Father Effects
*/
